<?xml version="1.0" encoding="utf-8"?>

<!--
* L'angolo nerd
* Copyright (C) 2017 Aronne Brivio
*
* This file is part of L'angolo nerd Android application.
*
* L'angolo nerd is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* L'angolo nerd is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with L'angolo nerd.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.langolonerd.app">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="false" android:smallScreens="true" android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/mainAppTheme">

        <activity
            android:name=".MainActivity"
            android:theme="@style/mainAppTheme"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" android:host="www.langolonerd.it" />
                <data android:scheme="http" android:host="langolonerd.it" />
                <data android:scheme="https" android:host="www.langolonerd.it" />
                <data android:scheme="https" android:host="langolonerd.it" />
            </intent-filter>
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/icon_round" />
    </application>

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="25" />

</manifest>
